:root {
	--yellow: #ffffe0;
	--blue:#d5d6ea;
	--green:#d7ecd9;
	--orange:#f5d5cb;
	--pink:#f6ecf5;
	--purple:#f3ddf2;
	--red:#ffbbbb;
	--grey:#e0e0e0;
	--brown:#e9e2d7;
	--none:rgba(255,255,255,0);
}

::selection {
	background-color: #eee;
	color:#000;
}

.yellow{background-color:var(--yellow);}
.blue{background-color:var(--blue);}
.green{background-color:var(--green);}
.orange{background-color:var(--orange);}
.pink{background-color:var(--pink);}
.purple{background-color:var(--purple);}
.red{background-color:var(--red);}
.grey{background-color:var(--grey);}
.brown{background-color:var(--brown);}

body {
	font-family: Nunito, Roboto, sans-serif;

	margin-left: 33px;

	transition: 200ms all;
}
body::-webkit-scrollbar {
	display:none;
}

.dev-mode {
	position:fixed;
	left:0;
	top:0;
	z-index:9999999;
}











/* stuff outside the main content */
.selection-bar {
	height:100vh;
	width:100%;

	background-color: #fff;
	box-shadow: 0 0 10px #ddd;

	display:none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

	position:fixed;
	top:0;
	left:0;
	z-index: 900;

	user-select: none;
}
.selection-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

	margin:0 auto;
	width:70%;
}
.selection-bar input[type=radio] {
	display:none;
}
.selection-bar label {
	padding:20px;
	margin:10px;

	cursor: pointer;

	background-color: #fff;

	transition: all ease 200ms;
}
.selection-bar label:hover {
	background-color: #eee;
}
.selection-bar label span {
	color:#aaa;
}
.selection-bar label input[type=radio]:checked + span { /* currently selected label */
	text-decoration: underline;
	color:#000;
}
/*
.selection-bar select {
	padding:10px 30px;
	border-radius: 20px;
	border:#000 solid 1px;

	text-align: center;
}
.selection-bar select:focus {
	outline:none;
}
.selection-bar select:after {
	display:none;
}
.selection-bar select option {
	padding:5px;
}
.selection-bar select option:hover {
	background-color: #eee;
}*/


.colour-bar {
	width:100%;

	display: flex;
	flex-direction: row;

	position:fixed;
	top:0;
	left:0;
	z-index: 1000;

	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.colour-bar > div {
	width:10.6666%;
	height:30px;

	-webkit-transition:all ease 300ms;
	-moz-transition:all ease 300ms;
	-o-transition:all ease 300ms;
	transition:all ease 300ms;

	box-shadow: 0 0 10px #ddd;

	text-align: center;
	line-height: 50px;

	cursor: pointer;

	color:rgba(255, 255, 255, 0);
}
.colour-bar > div:hover {
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;

	color:rgba(0,0,0,1);
}
.colour-bar > .up-arrow {
	width:4%;

	line-height: 30px;

	color:rgba(0,0,0,1);

	background-color: #fff;

	cursor: pointer;

	-webkit-transition: 200ms ease all;
	-moz-transition: 200ms ease all;
	-o-transition: 200ms ease all;
	transition: 200ms ease all;
}
.colour-bar > .up-arrow:hover {
	height:30px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

	background-color:#eee;

	font-weight: 600;
}
.colour-bar > .up-arrow > div {
	-webkit-transition: 200ms ease all;
	-moz-transition: 200ms ease all;
	-o-transition: 200ms ease all;
	transition: 200ms ease all;
}
.upside-down {
	transform:rotate(180deg);
}

/*
.tools-bar {
	width:240px;
	height:40px;

	display:none;
	flex-direction: row;
	position: fixed;
	top:10px;
	left:10px;

	border-radius: 10px;

	background-color: rgba(255, 255, 255, .9);

	overflow:hidden;

	filter:opacity(80%);

	-webkit-transition:500ms ease all;
	-moz-transition:500ms ease all;
	-o-transition:500ms ease all;
	transition:500ms ease all;
}
.tools-bar > div {
	width: 40px;
	height:100%;
}
*/
.comments-bar {
	display:block;

	position:fixed;
	z-index: 99;
	left:30px;
	bottom:0;

	height:50px;
	min-width: 0;
	max-width: 600px;

	margin-bottom:6px;
	padding:5px 0;

	background-color: #fff;

	border:0.1px #000 solid;

	box-shadow: 2px 2px 7px #aaa;
}
.comments-input {
	height:100%;
	width:calc(100% - 25px);

	margin-left: 0;

	text-align: left;
	vertical-align: middle;

	font-size: 14px;

	overflow:hidden;
}
.comments-input:focus {
	outline:0;
	border:0;
}

.features-bar {
	position:fixed;
	bottom:0px;
	left:5px;
	z-index: 100;

	display: flex;
	flex-direction: column;

	border-radius: 0px;

	overflow:visible;

	user-select: none;
}
.features-bar > div {
	width:23px;
	height:23px;

	background-color: #fff;

	padding:20px;
	margin-bottom: 5px;

	/*border-top:1px #aaa solid;*/
	/*border-right:1px #aaa solid;
	border-bottom:1px #aaa solid;

	border-radius: 50px;*/

	border-radius:20px;
	box-shadow: 2px 2px 10px #e1e1e1;

	cursor: pointer;

	/*box-shadow: 2px 2px 5px #e1e1e1;*/

	transition: 200ms all ease;
}
.features-bar > div:hover {
	background-color: #eee;
}
.features-bar > div:active {
	transform: scale(0.96);
}
.link-button-processing {
	background-color: #ec5653 !important;
}
.comment-button-processing {
	background-color: #F5DB84 !important;
}
















/* main content */
#container {
	width:95%;
	margin:50px auto 2% auto;

	display: flex;
	flex-direction: row;

	margin-bottom:10px;
}

.card {
	background-color: #fff;

	padding: 10px 20px;
	margin: 10px;

	border-radius:20px;
	box-shadow: 2px 2px 10px #e1e1e1;

	transition: 200ms ease all;
}

.line-numbers-div {
	width:30px;

	text-align:center;

	line-height:2em;
	font-size: 16px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.text-div {
	/*min-width:35%;*/
	min-width: 430px;

	line-height: 2em;
	font-size: 16px;

	margin-top:8px;

	box-shadow: 0 0 0 #fff;

	white-space: nowrap;
	overflow:scroll;
	-ms-overflow-style: none;
  	scrollbar-width: none;

  	/*user-select: none;*/
}
.text-div::-webkit-scrollbar {
	display:none;
}
.text-div span {
	cursor: pointer;
	color:#222;
}
.selected {
	/*text-decoration: underline !important;*/
	/*color:#3F6CE0;*/
	/*font-weight:700;*/
	color:#000 !important;
	text-shadow:0px 0px 0.2px #000 !important;
}
.link-highlight {
	text-decoration: underline !important;
}
.comment-highlight {
	/*text-decoration: underline !important;
	text-decoration-color:#ddd;*/
	font-size:18px;
	text-shadow:0px 0px 0.2px #000 !important;
}



.translation-div {
	/*min-width:35%;*/
	min-width: 500px;

	line-height: 2em;
	font-size: 16px;

	margin-top:8px;

	white-space: nowrap;
	overflow:scroll;
	-ms-overflow-style: none;
  	scrollbar-width: none;

  	/* removing card styles */
  	border-left:1px solid #000;
  	border-radius:0;
  	box-shadow: 0 0 0 #fff;

  	/*user-select: none;*/
}
.translation-div::-webkit-scrollbar {
	display:none;
}




.annotations-div {
	/*width:calc(65% - 150px);*/
	min-width: 235px;

	padding:0;

	overflow: scroll;

	/* position fixed styles */
	position:fixed;
	/* on the right */
		width:calc(40% - 150px);
		height: 85vh;
		right:15px;
		resize:horizontal;

		direction:rtl;		
}

.annotations-div::-webkit-scrollbar {
	display:none;
}
.text-name-h1 {
	font-size:26px;

	text-align: center;

	height:100vh;

	margin: 0 0 0 0;

	writing-mode: vertical-lr;

	transform:rotate(180deg);
	transform-origin: (0,0);

	position:fixed;
	bottom:45px;
	left:22.5px;

	user-select: none;
}
.comment {
	display:flex;
	flex-direction: row;
	padding:10px 20px;

	border-bottom:1px #000 solid;

	background-color: #fff;

	direction: ltr;

	transition:ease all 200ms;
}
.comment:hover {
	background-color: #eee;
}
.comment:last-child {
	border-bottom:0 #fff solid !important;
}
.word-column {
	margin-right: 20px;

	min-width: 100px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.comments-column {
	/* if no word column */
	width:100%;
}
.comments-column > div {
	width:100%;

	margin-bottom:10px;

	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.comments-column > div:last-child {
	margin-bottom:0 !important;
}
.comments-column > div > div {

}
.comment-text {
	padding:2px;
}
.delete-comment-button {
	padding:2px;
	margin-left: 10px;
	cursor: pointer;

	color:#000;

	user-select: none;

	transition: 200ms ease all;
}
.delete-comment-button:hover {
	color:red;
}





@media only screen and (max-width: 1300px) {
	/*#container {
		height:80vh;
		overflow:auto;
	}*/
	.translation-div {
		display:none;
	}
	.annotations-div {
		/* move annotations to bottom */
		/*height:20vh;
		width:calc(100% - 145px);
		margin:0;
		border-radius: 0;
		right:0px;
		bottom:0px;*/

		/* stay on the right but hide translation*/
		width:calc(60% - 150px);
		height: 85vh;
		right:15px;
		resize:horizontal;

		direction:rtl;		
	}
}

@media only screen and (max-width: 1200px) {
	html {
		display:none;
	}
}