:root {
	--darkblue: #295a8f;
	--lightblue: #4c79ad;
	--darkorange: #f98125;
}


* {
	box-sizing: border-box;
}

html {
	/*height: 100%;
	width: 100%;*/
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	/*width: 100%;
	height: 100%;*/

	font-family: Roboto, sans-serif;

	user-select: none;

	background-color: #000;
	color: #fff;
}
body::-webkit-scrollbar{
	display: none;
}

table, tr, td {
	border: none;
	padding: 0;
	margin: 0;
}

.info-wrapper {
	/*padding: 50px;*/
	margin-bottom: 10px;
}

#game-wrapper {
	/*width: 500px;
	height: 300px;*/

	margin: 0 auto;

	background-color: #eee;

	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;*/
}

.square {
	width: 23px;
	height: 23px;

	cursor: pointer;

	text-align: center;

	line-height: 23px;
	color: var(--darkorange);
	font-weight: 700;

	transition: all 100ms ease;
}
#game-wrapper tbody tr:nth-child(even) .square:nth-child(even) {
	background-color: var(--darkblue);
}
#game-wrapper tbody tr:nth-child(even) .square:nth-child(odd) {
	background-color: var(--lightblue);
}
#game-wrapper tbody tr:nth-child(odd) .square:nth-child(odd) {
	background-color: var(--darkblue);
}
#game-wrapper tbody tr:nth-child(odd) .square:nth-child(even) {
	background-color: var(--lightblue);
}
.square:hover {
	filter: brightness(2);
}

/* square properties */
.square::before {
	display: none;
}
.flagged::before {
	content: 'x' !important;
	display: block !important;
	color: var(--darkorange) !important;
}
.s0::before {
	content: '';
}
.s1::before {
	content: '1';
	color: red;
}
.s2::before {
	content: '2';
	color: blue;
}
.s3::before {
	content: '3';
	color: green;
}
.s4::before {
	content: '4';
	color: pink;
}
.s5::before {
	content: '5';
	color: purple;
}
.s6::before {
	content: '6';
	color: black;
}
.s7::before {
	content: '7';
}
.s8::before {
	content: '8';
}
.mine {
	/*background-color: #000 !important;*/
}
.exploded {
	background-color: red !important;
}
/*.uncovered {
	background-color: #fff !important;
}*/
#game-wrapper tbody tr:nth-child(even) .uncovered:nth-child(even) {
	background-color: #ffffff !important;
}
#game-wrapper tbody tr:nth-child(even) .uncovered:nth-child(odd) {
	background-color: #f5f5f5 !important;
}
#game-wrapper tbody tr:nth-child(odd) .uncovered:nth-child(odd) {
	background-color: #ffffff !important;
}
#game-wrapper tbody tr:nth-child(odd) .uncovered:nth-child(even) {
	background-color: #f5f5f5 !important;
}
.uncovered::before {
	display: block !important;
}