:root {
	/*--darkblue: #295a8f;
	--lightblue: #4c79ad;
	--darkorange: #f98125;*/
}


* {
	box-sizing: border-box;
	font-family: Nunito, sans-serif;
	text-transform: lowercase;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
	/*height: 100%;
	width: 100%;*/
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	/*width: 100%;
	height: 100%;*/

	background-color: #333;
	color: #fff;
}
body::-webkit-scrollbar{
	display: none;
}
h1, h2 {
	margin: 0;
}
table, tr, td {
	border: none;
	padding: 0;
	margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}





.info-wrapper {
	padding: 15px calc((100% - 700px) / 2);
	margin: 15px 0;

	width: 100%;

	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-between;

	position: sticky;
	top: 0;
	z-index: 1;

	background-color: #333;

	box-shadow: 0px 5px 12px #333;

	/*border-bottom: 1px #fff solid;*/
}
.info-wrapper h1 {
	/*margin: 0 100px;*/
	font-size: 32px;

	font-weight: 200;

	letter-spacing: 0.1em;
}
#mine-counter, #timer {
	padding: 10px;
	/*border: 1px solid #fff;*/
	/*display: none;*/

	transition: 200ms ease all;
}
#mine-counter:hover, #timer:hover {
	color: #000;
	background-color: #fff;
	/*border: 1px solid #000;*/
}
.info-wrapper button {
	padding: 10px;
	background-color: #3a3a3a;

	border: none;

	color: #fff;

	cursor: pointer;

	transition: 200ms ease all;

	filter: saturate(0%);
}
.info-wrapper button:hover {
	background-color: #444;
}




.settings-wrapper, .rules-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	z-index: 100;
	position: fixed;
	right: 0;
	top: 0;

	margin: 5vh 0 5vh 0;
	padding: 0 25px;

	height: 90vh;
	min-width: 200px;

	text-align: right;

	background-color: transparent;
	/*box-shadow: 7px 7px 30px #555;*/
	/*border: #fff solid 1px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;*/
	border-left: 1px #fff solid;

	color: #fff;
}
.settings-wrapper h2 {
	margin-bottom: 10px;
}
.settings-wrapper input {
	color: #fff;

	margin: 3px 0 10px 0;

	text-align: right;

	border: 1px solid #eee;

	background-color: inherit;
}
.settings-wrapper input[type=number]{
	width: 60px;
	padding: 5px 10px;
}
.settings-wrapper input[type=color]{
	border: none;
}
.settings-wrapper > span {
	font-size: 14px;
	display: inline-block;
	margin: 2px 0;
	font-weight: 100;
}
.rules-wrapper {
	left: 0;
	right: auto;

	text-align: left;

	align-items: flex-start;

	border-right: 1px #fff solid;
	border-left: none;

	overflow: hidden;

	max-width: 200px;
}
.rules-wrapper p {
	word-wrap: break-word;
	font-weight: 200;
	font-size: 12px;
}



#game-wrapper {
	/*width: 500px;
	height: 300px;*/

	margin: 0 auto;

	background-color: #eee;

	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;*/
}

.square {
	width: 23px;
	height: 23px;

	cursor: pointer;

	text-align: center;

	line-height: 23px;
	color: var(--darkorange);
	font-weight: 700;

	transition: all 100ms ease;
}
#game-wrapper tbody tr:nth-child(even) .square:nth-child(even) {
	background-color: var(--darkblue);
}
#game-wrapper tbody tr:nth-child(even) .square:nth-child(odd) {
	background-color: var(--lightblue);
}
#game-wrapper tbody tr:nth-child(odd) .square:nth-child(odd) {
	background-color: var(--darkblue);
}
#game-wrapper tbody tr:nth-child(odd) .square:nth-child(even) {
	background-color: var(--lightblue);
}
.square:hover {
	filter: brightness(2);
}

/* square properties */
.square::before {
	display: none;
}
.mine {
	/*background-color: #000 !important;*/
}
.mine::before {
	content: '' !important;
}
.s0::before {
	content: '';
}
.s1::before {
	content: '1';
	color: royalblue;
}
.s2::before {
	content: '2';
	color: green;
}
.s3::before {
	content: '3';
	color: red;
}
.s4::before {
	content: '4';
	color: rebeccapurple;
}
.s5::before {
	content: '5';
	color: orange;
}
.s6::before {
	content: '6';
	color: navy;
}
.s7::before {
	content: '7';
	color: maroon;
}
.s8::before {
	content: '8';
	color: black;
}
.flagged::before {
	content: 'x' !important;
	display: block !important;
	color: var(--darkorange) !important;
}
.flagged {
	background-color: #000 !important;
}
/*.uncovered {
	background-color: #fff !important;
}*/
#game-wrapper tbody tr:nth-child(even) .uncovered:nth-child(even) {
	background-color: #ffffff !important;
}
#game-wrapper tbody tr:nth-child(even) .uncovered:nth-child(odd) {
	background-color: #f5f5f5 !important;
}
#game-wrapper tbody tr:nth-child(odd) .uncovered:nth-child(odd) {
	background-color: #ffffff !important;
}
#game-wrapper tbody tr:nth-child(odd) .uncovered:nth-child(even) {
	background-color: #f5f5f5 !important;
}
.uncovered::before {
	display: block !important;
}
.exploded {
	background-color: red !important;
}

/*@media only screen and (max-width: 1200px) {
  .info-wrapper {
		padding: 15px 5%;
		width: 90%;
  }
}*/
@media only screen and (max-width: 1100px) {
  .settings-wrapper, .rules-wrapper {
    display: none;
  }
  .square {
  	min-height: 30px;
  	min-width: 30px;
  	width: 30px;
  	height: 30px;
  }
}

@media only screen and (max-width: 800px) {
  
}

