body {
    font-family:"Roboto", sans-serif;
    font-size:14px;

    color:#3a3a3a;

    margin:0;
    padding:0;
}

body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

img {
    margin:0;
}

a {
    color:#3a3a3a;
    
    text-decoration: underline;
    
    cursor:pointer;
}

header {
    width:100%;
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    
    padding:20px 0;
    margin:0 0 10px 0;

    background-color:#fff;

    user-select:none;
}

header h1 {
    margin:0 0 0 10px;
    padding:0;

    font-size:2em;
    font-weight:700;
    color:#3a3a3a;
}

#scrolling-header {
    width:calc(100% - 100px);
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    
    padding:20px 50px;
    margin:0 0 10px 0;

    background-color:#fff;
    box-shadow:1px 1px 5px #ddd;

    position:fixed;
    top:-1070px;
    left:0;
    z-index:9000;

    user-select:none;

    transition: top 2000ms ease-out;
}
#scrolling-header h1 {
    margin:0 0 0 10px;
    padding:0;

    font-size:1.7em;
    font-weight:700;
    color:#3a3a3a;
}


#pokemon-container {
    width:100%;

    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap:30px;

    padding: 0 0 30px 0;
}

.poke-index {
    width:200px;
    height:250px;

    margin:0;
    padding:25px;

    display:flex;
    flex-direction:column;

    box-shadow:1px 1px 10px #ddd;
    border-radius:20px;

    cursor:pointer;

    user-select:none;

    position:relative;

    transition:500ms all ease;
}

.pokemon-id-wrapper {
    display:flex;
    align-items:center;
    justify-content:center;


    width:30px;
    height:30px;

    border-radius:50%;

    background-color:#eee;
    box-shadow: 0 0 5px #eee;
    
    text-align:center;

    font-size:1em;

    position:absolute;
    top:25px;
    left:25px;

    transition:300ms background-color ease;
    transition:100ms transform ease;
}
.poke-index:hover /*> .pokemon-id-wrapper*/ {
    /*background-color:#fbb;*/
    background-color:#f7f7f7;

    animation: burst .2s ease;
}
.poke-index:active {
    transform:scale(0.96);
}
@keyframes burst {
    33% {
        transform:scale(1.03);
    }
    66% {
        transform:scale(.97);
    }
    100% {
        transform:scale(1);
    }
}

.pokemon-image {
    width:200px;
    height:200px;

    margin: 20px 0 0 0;
}

.pokemon-name {
    margin:0;
    padding:0;

    font-size:1.3em;
    text-transform:lowercase;
    text-align:center;
}

.types-container {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    gap: 0 10px;
    
    margin:0;
    padding:0;

    position:absolute;
    top:25px;
    right:25px;
}
.types-icon {
    background-color:#000;
    box-shadow: 0 0 5px #000;

    display:flex;
    justify-content: center;
    align-items:center;

    height:30px;
    width:30px;

    border-radius:50%;

    transition: all 300ms ease;
}
.types-icon:hover {
    filter:brightness(120%);
}





#main-cover {
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:9001;
    background-color:rgba(0,0,0,0.5);

    display:none;
    opacity:0;

    transition:300ms ease all; 
}
#pokemon-detail-container {
    position:fixed;
    z-index:1000000;
    top:calc(50% - 250px);
    left:calc(50% - 350px);

    border-radius:20px;
    box-shadow:1px 1px 50px #777;

    width:700px;
    height:500px;

    /*background-color:#333;*/

    color:#ddd;

    display:flex;
    flex-direction: row;

    overflow:hidden;
}

#pokemon-detail-container > div {
    width:calc(50% - 50px);

    padding:25px;
}

#pokemon-detail-container > div:first-child {
    background-color: #333;

    /*border-top-left-radius: 20px;
    border-bottom-left-radius:20px;*/
}

#pokemon-detail-container > div:last-child {
    background-color:#ff6b57;

    /*border-top-right-radius: 20px;
    border-bottom-right-radius:20px;*/

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#pokemon-detail-img {
    width:350px;
}

#pokemon-detail-close {
    background-color:#ee5a46;
    
    border:0;
    border-radius:50%;

    width:50px;
    height:50px;

    text-align:center;

    position:absolute;
    top:10px;
    right:10px;

    display:inline;

    font-family:"Roboto", sans-serif;
    color:#fff;
    font-size:32px;
    font-weight:800;

    transform:rotate(45deg);
    filter:brightness(100%);

    cursor:pointer;

    transition:300ms ease-in-out all;
}
#pokemon-detail-close:hover {
    transform:rotate(225deg);
    filter:brightness(90%);
}




footer {
    background-color:#eee;

    margin:0;
    padding:30px;

    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    gap:0 35px;
}

footer p {
    margin:0;
}



