body {
    font-family:"Roboto", sans-serif;
    font-size:14px;

    color:#3a3a3a;

    margin:0;
    padding:0;
}

a {
    color:#3a3a3a;
    
    text-decoration: underline;
    
    cursor:pointer;
}

header {
    width:100%;
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    
    padding:20px 0;
    margin:0 0 10px 0;

    background-color:#fff;

    user-select:none;
}

header h1 {
    margin:0 0 0 10px;
    padding:0;

    font-size:2em;
    font-weight:700;
    color:#3a3a3a;
}

#scrolling-header {
    width:calc(100% - 100px);
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    
    padding:20px 50px;
    margin:0 0 10px 0;

    background-color:#fff;
    box-shadow:1px 1px 5px #ddd;

    position:fixed;
    top:-1070px;
    left:0;
    z-index:9001;

    user-select:none;

    transition: top 2000ms ease-out;
}
#scrolling-header h1 {
    margin:0 0 0 10px;
    padding:0;

    font-size:1.7em;
    font-weight:700;
    color:#3a3a3a;
}


#pokemon-container {
    width:100%;

    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap:30px;

    padding: 0 0 30px 0;
}

.poke-index {
    width:200px;
    height:250px;

    margin:0;
    padding:25px;

    display:flex;
    flex-direction:column;

    box-shadow:1px 1px 10px #ddd;
    border-radius:20px;

    cursor:pointer;

    user-select:none;

    position:relative;

    transition:500ms all ease;
}

.pokemon-id-wrapper {
    display:flex;
    align-items:center;
    justify-content:center;


    width:30px;
    height:30px;

    border-radius:50%;

    background-color:#eee;
    box-shadow: 0 0 5px #eee;
    
    text-align:center;

    font-size:1em;

    position:absolute;
    top:25px;
    left:25px;

    transition:300ms background-color ease;
    transition:100ms transform ease;
}
.poke-index:hover /*> .pokemon-id-wrapper*/ {
    /*background-color:#fbb;*/
    background-color:#f7f7f7;

    animation: burst .2s ease;
}
.poke-index:active {
    transform:scale(0.96);
}
@keyframes burst {
    33% {
        transform:scale(1.03);
    }
    66% {
        transform:scale(.97);
    }
    100% {
        transform:scale(1);
    }
}

.pokemon-image {
    width:200px;
    height:200px;

    margin: 20px 0 0 0;
}

.pokemon-name {
    margin:0;
    padding:0;

    font-size:1.3em;
    text-transform:lowercase;
    text-align:center;
}

.types-container {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    gap: 0 10px;
    
    margin:0;
    padding:0;

    position:absolute;
    top:25px;
    right:25px;
}
.types-icon {
    background-color:#000;
    box-shadow: 0 0 5px #000;

    display:flex;
    justify-content: center;
    align-items:center;

    height:30px;
    width:30px;

    border-radius:50%;

    transition: all 300ms ease;
}
.types-icon:hover {
    filter:brightness(120%);
}

footer {
    background-color:#eee;

    margin:0;
    padding:30px;

    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    gap:0 35px;
}

footer p {
    margin:0;
}