body {
    font-family:"Roboto", sans-serif;
    font-size:14px;
}

header {
    width:100%;
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    
    padding:20px 0;
    margin:0 0 10px 0;

    user-select:none;
}

header h1 {
    margin:0 0 0 10px;
    padding:0;

    font-size:2em;
    font-weight:700;
    color:#3a3a3a;
}


#pokemon-container {
    width:100%;

    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap:30px;
}

.poke-index {
    width:200px;
    height:250px;

    margin:0;
    padding:25px;

    display:flex;
    flex-direction:column;

    box-shadow:1px 1px 10px #ddd;
    border-radius:20px;

    cursor:pointer;

    user-select:none;

    position:relative;

    transition:500ms all ease;
}

.pokemon-id-wrapper {
    display:flex;
    align-items:center;
    justify-content:center;


    width:30px;
    height:30px;

    border-radius:50%;

    background-color:#eee;
    
    text-align:center;

    font-size:1.1em;

    position:absolute;
    top:25px;
    left:25px;

    transition:300ms all ease;
}
.poke-index:hover /*> .pokemon-id-wrapper*/ {
    /*background-color:#fbb;*/
    background-color:#f5f5f5;
}
.poke-index:active {
    transform:scale(0.96);
}

.pokemon-image {
    width:200px;
    height:200px;

    margin: 20px 0 0 0;
}

.pokemon-name {
    margin:0;
    padding:0;

    font-size:1.3em;
    text-transform:lowercase;
    text-align:center;
}

.types-container {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    gap: 0 10px;
    
    margin:0;
    padding:0;

    position:absolute;
    top:25px;
    right:25px;
}
.types-icon {
    background-color:#000;
    box-shadow: 0 0 5px #000;

    display:flex;
    justify-content: center;
    align-items:center;

    height:30px;
    width:30px;

    border-radius:50%;

    transition: all 300ms ease;
}
.types-icon:hover {
    filter:brightness(120%);
}

